<!doctype html>
<html>
  <body>
    <h1>Login</h1>
    <form action="/api/login" method="POST">
      <input name="email" type="text" /><br />
      <input name="password" type="password" /><br />
      <input type="submit" value="Login" />
    </form>

    <p>
      <a href="/users/forgot">Esqueceu sua senha?</a> | <a href="/users/signup">Não possui cadastro?</a>
    </p>
  </body>
</html>