
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/"><i class="fas fa-angle-double-left"></i> Todos Médicos</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Busca medico</h2>
        </div>
        <% if(users.url[0] !==  '1') { %>
        <form action="/searchCPF" method="POST">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>@Url</th>
                        <th>CPF</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                
                <tbody>
                    <%- include('include/_show_cpf') %>
                </tbody>
                
            </table>
        </form>
        <% } else {%>
        <div class="form-title text-center">
            <h2 class="text-dark">CPF não encontrado!</h2>
        </div>
        <% } %>
    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
